.container{
width: 800px;
margin: 50px auto;
}
.input-container{
    display: flex;
    justify-content: flex-end
}
.input-box{
    width: 240px;
}
.list-container{
    margin-top: 40px;
}
.list-item{
    margin-bottom: 10px;
    display: flex;
    align-items:center;
    height: 60px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
}
.name{
    margin-left: 20px;
    flex: 1;
}
.users{
    width: 200px;
    color: #ccc;
}
.del-btn{
    margin-left: 60px;
}